doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ejson.js")
    script(src="/javascripts/wdc.js")
  body
    block content
